@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Monserrat", sans-serif;
}

.logo {
    width:30rem;
    height:10rem;
}
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 40px;
}
h1 {
    color: #51AF2C;
}
i {
    font-size: 65px;
    color: #51AF2C;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:0.5fr 0.2fr 0.1fr 0.4fr 1fr 1fr ;
    grid-gap: 1.2rem;
    margin: 0rem 9.375rem;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "content content imagine imagine"
    "text text text text"
    "r1c1 r1c2 formular formular"
    "r2c1 r2c2 formular formular";
}
#content {
    grid-area: content;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
#imagine {
    grid-area: imagine;
    padding-bottom: 20px;
}
#text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#r1c1{
    grid-area: r1c1;
    text-decoration: none;
    padding-top: 70px;
}
#r1c2{
    grid-area: r1c2;
    padding-top: 70px;
}
#r2c1{
    grid-area: r2c1;
}
#r2c2{
    grid-area: r2c2;
}
.container p {
    margin-bottom: -10px;
}
.container p a{
    text-decoration: none;
    color: #51AF2C;
}
#formular{
    grid-area: formular;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formularr {
    position: relative;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    background: #b3ffb3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 2px dashed #51AF2C;
}
.formularr h2{
    color: #333;
    font-weight: 500;
    text-align: center;
}
.formularr .form {
    margin-top: 30px;
}
.form .input-box {
    width: 100%;
    margin-top:20px ;
    display: flex;
    flex-direction: column;
}
.input-box label {
    color: #333;
}
.form .input-box input {
    position: relative;
    height: 50px;
    width: 93%;
    outline: none;
    font-size:1rem ;
    margin-top: 8px;
    color: #707070;
    border: 1px solid #ddd;
    border-radius:6px ;
    padding: 0 15px;
}
.input-box-message label {
    color: #333;
}
.form .input-box-message input {
    position: relative;
    height: 100px;
    width: 92%;
    outline: none;
    font-size:1rem ;
    margin-top: 12px;
    color: #707070;
    border: 1px solid #ddd;
    border-radius:6px ;
    padding: 0 15px;

}
#r1c1, #r1c2, #r2c1, #r2c2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}
.imgpets {
    border-radius: 999px;
    width: 105%;
    height: 16.87rem;
    object-fit: cover;
    transform: translateX(-16px);
    overflow: hidden;
}
nav {
    margin:0;
    grid-area: nav;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 1.5rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.dropdown {
    overflow: hidden;
    list-style: none;
    position: absolute;
    width: 15%;
    left: 8.130rem;
}

nav ul li .dropdown > div {
    translate: 0 -100%;
    transition: all 0.5s 0.1s;
    position: relative;
    background:#b3ffb3;
    text-align: center;
}

nav ul li .dropdown a {
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

nav ul li .dropdown a:hover {
    background:#51AF2C;
    color:white;
}

nav ul li:hover > .dropdown > div {
    translate: 0;
}

nav ul li:nth-child(1):hover> {
    translate: 0;
}

nav ul li:nth-child(2):hover> {
    translate: 100%;
}

nav ul li:nth-child(3):hover> {
    translate: 200%;
}

nav ul li:nth-child(4):hover> {
    translate: 300%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 0rem 1.7rem;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: rgb(17, 228, 73);
}

nav ul li,
nav ul li a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
div>a{
    text-decoration: none;
}

.form button {
    height: 40px;
    width:60%;
    background-color:#51AF2C;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 400;
    margin-left: 20%;
    margin-right: 20%;
    transition: all 0.3s ease 0s;
}
.form button:hover{
    background-color:#03611c;
}
nav button {
    padding: 0.563rem 2rem;
    background-color: rgba(90, 209, 94, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

nav button:hover {
    background-color: rgba(90, 209, 94, 0.8);
    transform: scale(1.1)
}

@media (max-width: 500px){
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "imagine imagine"
        "content content"
        "text text"
        "r1c1 r1c2"
        "r2c1 r2c2"
        "formular formular";
        grid-gap:1.2rem;
    }
    nav {
        display: none;
    }
}