@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@counter-style paw {
    system: cyclic;
    symbols: "\1F43E";
    suffix: " "
}

body {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: "Monserrat", sans-serif;
}

.logo {
    width: 30rem;
    height: 10rem;
}

h1 {
    color: #51AF2C;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.2fr fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "content imagine"
        "r1c1 r1c2"
        "r2c1 r2c2"
        "r3c1 r3c2"
        "r4c1 r4c2"
        "r5c1 r5c2"
        "r6 r6";
    grid-gap: 1.2rem;
    margin: 0rem 9.375rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 40px;
}

nav {
    margin: 0;
    grid-area: nav;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 1.5rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.dropdown {
    overflow: hidden;
    list-style: none;
    position: absolute;
    width: 15%;
    left: 8.130rem;
}

nav ul li .dropdown>div {
    translate: 0 -100%;
    transition: all 0.5s 0.1s;
    position: relative;
    background: #b3ffb3;
    text-align: center;
}

nav ul li .dropdown a {
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

nav ul li .dropdown a:hover {
    background: #51AF2C;
    color: white;
}

nav ul li:hover>.dropdown>div {
    translate: 0;
}

nav ul li:nth-child(1):hover> {
    translate: 0;
}

nav ul li:nth-child(2):hover> {
    translate: 100%;
}

nav ul li:nth-child(3):hover> {
    translate: 200%;
}

nav ul li:nth-child(4):hover> {
    translate: 300%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 0rem 1.7rem;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: rgb(17, 228, 73);
}

nav ul li,
nav ul li a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

button {
    padding: 0.563rem 2rem;
    background-color: rgba(90, 209, 94, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(90, 209, 94, 0.8);
    transform: scale(1.1)
}

ul .lista {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ul li .lista {
    display: list-item;
}

.checkmark {
    padding: 4px 0px 4px 25px;
    list-style: paw;
}

.container>div:not(#imagine, #content) {
    border-radius: 5px;
    padding: 20px 70px;
    transition: box-shadow .3s;
}

.container>div:not(#imagine, #content):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.imgpets {
    border-radius: 999px;
    width: 105%;
    height: 16.87rem;
    object-fit: cover;
    transform: translateX(-16px);
    overflow: hidden;
}

.container p,
li {
    font-size: 18px;
}

#content {
    grid-area: content;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#imagine {
    grid-area: imagine;
    padding-bottom: 20px;
}

#r1c1 {
    background: #ffcccc;
    grid-area: r1c1;
}

#r1c2 {
    background: #cce6ff;
    grid-area: r1c2;
}

#r2c1 {
    background: #ffffb3;
    grid-area: r2c1;
}

#r2c2 {
    background: #b3ffb3;
    grid-area: r2c2;
}

#r3c1 {
    background: #dab3ff;
    grid-area: r3c1;
}

#r3c2 {
    background: #ffcccc;
    grid-area: r3c2;
}

#r4c1 {
    background: #cce6ff;
    grid-area: r4c1;
}

#r4c2 {
    background: #ffffb3;
    grid-area: r4c2;
}

#r5c1 {
    background: #b3ffb3;
    grid-area: r5c1;
}

#r5c2 {
    background: #dab3ff;
    grid-area: r5c2;
}

#r6 {
    background: #ffcccc;
    grid-area: r6;
}
.container p, .checkmark {
    color: rgb(53, 60, 60);
}
h3 {
    color: rgb(53, 60, 60);
}

@media (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas:
            "header"
            "nav"
            "imagine"
            "content"
            "r1c1"
            "r1c2"
            "r2c1"
            "r2c2"
            "r3c1"
            "r3c2"
            "r4c1"
            "r4c2"
            "r5c1"
            "r5c2"
            "r6";
        margin: 0 1.25rem;
        grid-gap: 1.2rem;
    }

    nav {
        display: none;
    }
}